body.loading .side-bar > h1.title > img {
  display: block; }

.side-bar > h1.title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 21px 0 0 30px;
  cursor: pointer; }
  .side-bar > h1.title > img {
    position: absolute;
    left: 200px;
    top: 4px;
    z-index: 9000;
    width: 24px;
    height: 24px;
    display: none; }
  .side-bar > h1.title .notifications-indicator-container {
    position: absolute;
    top: 0px;
    left: 50%; }
    .side-bar > h1.title .notifications-indicator-container > div.arrow {
      position: absolute;
      left: 70px;
      top: 16px;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-right-color: #fd5308;
      border-width: 5px 5px 5px 0; }
    .side-bar > h1.title .notifications-indicator-container > div.notifications-indicator {
      position: absolute;
      left: 75px;
      top: 6px;
      padding: 4px 8px 0 8px;
      height: 26px;
      border-radius: 1px;
      background: #fd5308;
      font: normal 20px KontrapunktBobBold, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
      color: white;
      text-align: center; }
