.page.page-feedback
  > header
    > div.line
      > ul.switcher
        margin: 0 0 0 30px

        float: none

        position: relative

        top: -3px

      > .button

  .textarea-block
    background: white

    box-shadow: 0 1px 2px #cccccc

    border-radius: 2px

    margin: 10px

    border: 1px solid transparent

    > div
      margin: 10px

    textarea
      margin: 0

      width: 100%

      font: normal 17px HelveticaNeue
      color: #8e8e8e