# test 3 travis.yml

language: node_js

node_js:
  - "0.8.14"

env:
  global:
  - secure: "TmyLYpgYU6pcmsjw1FktTddlXNafjf+T+xqwzoB1dHgIF0dSKZpgG2dcmpPN6aVlfV76GmYJ+j2tXbODps/dNGtEITweiAUml4vm9kbjA60xV3D2+ZbfaV78Y5ctGgJglnZIrgLPMVBo1K+t/LFenLTdGW8BwMxkSyHn849Va/s="
  - secure: "h7aXeOFeANki8kgnimpEBzOHp4syRdea2f4FWn1OrsmLexzlPWPw2/xMa3qCAVLsA9XlxdJVVCpaP6dcdpi0eEVI/N1LJvZ59ITTLM1TG9AObYe/uuI/478OnBIKha+Uiv+R2Ym7jbi6EK7XE+BFXX3k0AsaN+THf/sPkKo0iE0="
  - secure: "G3Duir0oV8KeGZvAj5pp7/d7vEvYrbvBxq31RQaFarqMZYyRIgxom8GAOhVtgskk4m9ObCaChv2KjDIDYRxWqZBbJ2jfNyYYfztCpy4AEc1zocGYvplEF6C+ipN2/aYnwazOaxfVFDgnkkNa9HCv1XJ02jLqOfbfxsO7YaGLs20="  
  - secure: "E8Ic4LGfpeDxMPzrSDSkGotCjPnoYbxLShnVnJ6Uht+TO25wGlH2dI7mqrfzrCWFNfbEhDaXYn9dmRFGpUmo35RFO6YOc+rpZpFgjCXqrRiUEEtbjbJCqxdO0iSD/+rfTkSvoPwTsjDD1ZoWbYx6SNOHWNBydbsu6EcpYv3dANw="
  - secure: "czrirUrzjHTwOISWOgjNcwho3kXn+GZnoi3LEYztyFBLOM4BBqoJ5F9nl5UbSET3zTcF8rUOGbpv/Pk3dhWfk5cf5TAwPakg4TU66Np4m90A6b3Fws7MYr5HsSLSX7euCtAHK8f1NdXEUJbsP8dCelZ4THjhGmZc4If9qKZ7BU8="
 
install:
  - git checkout master
  - gem install sass
  - BRANCH_NAME=build-$TRAVIS_BRANCH/`eval date +%Y-%m-%d"T"%H-%M-%S`
  - TIME_STR=`eval date`
  - git checkout -b $BRANCH_NAME
  - npm install -g grunt-cli
  - npm install

script:
  - grunt travis
  
after_script:
  - git config --global user.email "$EMAIL"
  - git config --global user.name "$USER_NAME"
  - git remote add github https://$USER_NAME:$PASSWORD@github.com/$USER_NAME/DEP.git
  - echo -e '\n\n!/app/src/css/*\n!/app/src/js/*\n!/app/app.html\n!/app/app_*.html\n!/app/dist/*' >> .gitignore
  - git add .
  - git commit -m "Travis CI build on $TIME_STR"
  - git push github $BRANCH_NAME
  - git config http.postBuffer 109715200
  - wget https://s3.amazonaws.com/ovivo-beanstalk/AWSbean.tar.gz
  - tar xfvz AWSbean.tar.gz
  - export PATH=$PATH:$PWD/AWS-ElasticBeanstalk-CLI-2.5.1/eb/linux/python2.7
  - eb init -I $AWSAKEY -S $AWSSKEY -a desktop-employee-osk -e oskar-environment --region "eu-west-1" -s "64bit Amazon Linux running Node.js"
  - eb branch
  - eb start -f
  - git aws.push

branches:
  only:
    - master
