.page.page-notifications ul.notifications-list > li.notification {
  background: white;
  padding: 9px 15px;
  border-top: 1px solid #cccccc;
  position: relative; }
  .page.page-notifications ul.notifications-list > li.notification:first-child {
    border-top: 0; }
  .page.page-notifications ul.notifications-list > li.notification.visited {
    background: #f0efec; }
    .page.page-notifications ul.notifications-list > li.notification.visited > div > i.mark {
      display: none; }
  .page.page-notifications ul.notifications-list > li.notification > div {
    position: relative; }
    .page.page-notifications ul.notifications-list > li.notification > div > h2 {
      font: lighter 12px HelveticaNeueBold, Helvetica, Arial, sans-serif;
      color: #807e73; }
    .page.page-notifications ul.notifications-list > li.notification > div > p.message {
      font: normal 12px HelveticaNeue;
      margin: 7px 0 0 0; }
    .page.page-notifications ul.notifications-list > li.notification > div > p.time {
      font: normal 11px HelveticaNeue;
      margin: 8px 0 0 0;
      color: #807e73; }
    .page.page-notifications ul.notifications-list > li.notification > div > i.mark {
      position: absolute;
      display: block;
      line-height: 0;
      top: 0;
      right: 0;
      width: 11px;
      height: 11px;
      background: #007550;
      box-shadow: inset 0 0 2px rgba(3, 46, 32, 0.75);
      border-radius: 2px; }
