.page.page-resources
  .content.content-templates
    > h2
      font-size: 14px
      font-weight: normal

      color: #cccccc

      margin: 28px 0 0 30px

    > ul.templates
      margin: 7px 0 0 0

      > li.template
        font-size: 12px

        color: white

        cursor: pointer

        > span
          display: block

          padding: 5px 0 5px 30px

