.page.page-resources
  .content.content-template
    margin-left: 40px
    margin-right: 40px

    ul.settings-items
      text-align: center

      margin-top: 0

      > li.settings-item
        display: inline-block

        margin: 22px 15px 0 15px

    .elements
      margin: 20px 0 0 0
