.page.page-resources
  .content.content-template
    ul.settings-items
      text-align: center

      margin-top: 0

      > li.settings-item
        display: inline-block

        margin: 22px 15px 0 15px