.page.page-calendar > header
  background: #edf0f2

  height: 88px
  
  > div.line
    position: relative

    z-index: 1

    margin-right: 30px

    > span.title
      margin-left: 20px

      font-size: 18px

      color: black

    > .button.today

    > .button.add-groups
      padding: 14px 28px 14px 40px
      margin: 3px 0 0 17px

      position: relative
      z-index: 1

      i.plus
        position: absolute

        top: 11px
        left: 14px

    > .button.button-resources
      padding: 14px 28px
      margin: 0 19px 0 0

      float: right

    > ul.groups-list
      display: inline-block

      font-size: 16px

      margin: 0 0 0 29px

      > li
        display: inline-block

        color: #999999

        margin: 0 0 0 22px

        &:first-child
          margin-left: 0

        &.selected
          color: #fd5308

  .weekdays
    position: absolute

    left: 0
    bottom: 8px

    width: 100%

    ul.row
      font-size: 16px

      margin: 0 50px 0 180px

      overflow: auto
      
      > li
        width: 14.28571428571429%

        float: left

        text-align: center

        > span
          display: block

          margin: 0 0 0 7px