.page.page-calendar > header
  background: #edf0f2
  
  > div.line
    text-align: center
    margin-right: 30px

    > span.title
      margin-left: 20px

      font-size: 18px

      color: black

    > .button.today
      float: left

  > div.status.line
    > span
      font-style: italic

      display: none

      &.in-progress
        color: #e78b23

      &.closed
        color: #06bd5b

    &.in-progress
      > span
        &.in-progress
          display: inline

    &.closed
      > span
        &.closed
          display: inline

  .weekdays
    position: absolute

    left: 0
    bottom: 8px

    width: 100%

    ul.row
      font-size: 12px

      margin: 0 50px 0 30px

      overflow: auto
      
      > li
        width: 14.28571428571429%

        float: left

        text-align: center

        > span
          display: block

          margin: 0 0 0 7px