.page.page-calendar > header
  > .week-banner
    position: absolute

    top: 156px
    left: 30px

    background: #63b483

    > ul
      width: 100px

      > li
        position: relative

        border-top: 1px solid #5aa477

        text-align: center

        font-size: 25px

        color: white

        padding: 15px 0

        overflow: hidden

        &:first-child
          border-top: 0

        &.selected
          background: #4b8f66

          border-top-color: #52956c

        > strong
          font-family: "Helvetica Neue Bold", HelveticaNeueBold, Helvetica, Arial, sans-serif
          font-weight: normal

        > span
          display: block

        > em
          display: block

          font-style: normal
          font-size: 13px

        &:hover
          > .arrow
            opacity: 1

        > .arrow
          position: absolute

          top: 0
          height: 54px

          cursor: pointer

          opacity: 0

          -webkit-transition: opacity 300ms

          > .inner
            border-color: transparent
            border-style: solid
            
            border-width: 10px

          &.left
            left: 0

            padding: 20px 0 0 15px

            > .inner
              border-left-width: 0
              border-right-color: #52956c

          &.right
            right: 0

            padding: 20px 15px 0 0

            > .inner
              border-right-width: 0
              border-left-color: #52956c           