.page.page-calendar
  > div.scroller
    position: absolute

    top: 0
    right: 15px
    bottom: -20px

    width: 25px

    margin-top: 144px

    overflow: scroll

    > div.inner
      height: 200%
      width: 1px