.page.page-calendar > .content.week-view
  ul.skill-groups
    -webkit-perspective: 3000px
    -moz-perspective: 3000px
    -ms-perspective: 3000px
    -o-perspective: 3000px
    perspective: 3000px

    position: relative

    z-index: 1

    > li.skill-group
      position: relative

      margin: 10px 0 0 130px

      box-shadow: 0 0 5px #e4e7e9

      -webkit-transform-origin: bottom center
      -moz-transform-origin: bottom center
      -ms-transform-origin: bottom center
      -o-transform-origin: bottom center
      transform-origin: bottom center

      &.folding
        > div.employee-rows
          > div
            visibility: hidden

            &:last-child
              visibility: visible

      &:first-child
        margin-top: 0

        > div.separator
          display: none

      .table-container
        position: relative

        &.header
          z-index: 1

        > div.side-block
          position: absolute

          top: 0
          bottom: 0
          left: -125px

          width: 120px

          background: #333333
          color: white

          text-align: center

          > div.inner
            padding: 16px 10px 15px 10px

      ul.resource-needs
        > li.resource-need
          > strong
            font-family: OvivoHelveticaNeueBold, "Helvetica Neue Bold", "HelveticaNeue-Bold", sans-serif
            font-weight: normal

          > span
            margin: 0 0 0 10px

      .day-blocks
        tr
          position: relative

          &.bottom-shadow
            position: absolute

        &.header
          height: auto

          .day-block
            > div.inner
              height: auto

            &.side-column
              font-family: OvivoHelveticaNeueBold, "Helvetica Neue Bold", "HelveticaNeue-Bold", sans-serif

        .day-block
          > div.inner
            min-height: 40px

          &.side-column
            width: 120px
            height: 100%

            text-align: center

            background: #333333

            color: white

            border-right: 5px solid #edf0f2

            > div.inner
              padding-left: 10px
              padding-right: 10px

              margin-right: 5px

            span
              margin: 0

          &.first-column
            border-left: 0