.page.page-calendar > .content.week-view
  ul.time-groups
    padding: 0 0 0 50px

    -webkit-perspective: 3000px
    -moz-perspective: 3000px
    -ms-perspective: 3000px
    -o-perspective: 3000px
    perspective: 3000px

    position: relative

    > li.time-group
      -webkit-transform-origin: bottom center
      -moz-transform-origin: bottom center
      -ms-transform-origin: bottom center
      -o-transform-origin: bottom center
      transform-origin: bottom center

      display: block

      position: relative

      margin: 10px 0 0 0

      box-shadow: 0 0 5px #e4e7e9

      &:first-child
        margin-top: 0

      > div.time-range
        position: absolute

        bottom: 0
        left: -50px
        z-index: 0

        width: 50px
        height: 100%

        background: #333333

        cursor: pointer

        > .time
          font-size: 15px
          font-family: 'Helvetica Neue Bold', HelveticaNeueBold, Helvetica, Arial, sans-serif

          color: white

          position: absolute

          display: block
          width: 100%

          text-align: center

          left: 0

          &.top
            top: 15px

          &.bottom
            bottom: 15px