.page.page-settings
  .content
    margin: 135px 40px 40px 40px

    > .line
      overflow: auto

      > *
        vertical-align: middle

    h2.title
      color: #807e73

      font-weight: normal
      font-size: 21px

      display: inline-block

      margin: 0 30px 0 0

    > div.info
      margin: 40px 0 0 0

      > h2, > h3
        text-align: center
        font-weight: normal

      > h2
        font-family: 'Helvetica Neue Bold', HelveticaNeueBold
        font-size: 17px

        color: #807e73

      > h3
        margin: 20px 0 0 0

        font-size: 15px

        color: #807e73