.wireframe
  margin: 0 0 0 250px

  position: relative

  .side-container
    position: absolute

    top: 0
    left: -250px

    width: 250px
    height: 100%

.wireframe.elements-header
  height: 60px

  margin-top: 23px

  .button
    width: 158px

.elements
  margin: 210px 0 0 0

  overflow: visible

  .attributes
    > li
      font-size: 13px

      > strong
        width: 70px

        display: inline-block

        font-family: 'Helvetica Neue Bold', HelveticaNeueBold, Helvetica, Arial, sans-serif
        font-weight: normal

        text-align: right

        margin: 0 3px 0 0

  > li.empty
    font-style: italic
  
  > li.element
    background: white

    border-radius: 2px

    box-shadow: 0 1px 0 #d9d6c6

    overflow: hidden

    margin: 10px 0 0 0

    > input[type="checkbox"]
      display: none

      position: absolute
      top: 50%
      margin: -6px 0 0 0
      left: -25px

      cursor: pointer

    &.show-checkbox
      overflow: visible

      margin-left: 25px

      position: relative

      > input[type="checkbox"]
        display: block

    &:first-child
      margin-top: 0

    > .wireframe
      .side-container
        border-right: 1px solid #e4e2d6

      .edit-button, .remove-button
        position: absolute

        background: #e4e2d6

        color: #807e73

        font-size: 13px

        right: 0
        top: 0

        padding: 4px 0

        width: 70px

        cursor: pointer

        text-align: center

      .edit-button
        right: 0

      .remove-button
        right: 73px

      .templates-names
        position: absolute

        bottom: 5px
        left: 10px

        font-size: 13px

        &.empty
          > i
            display: inline

          > strong, > span
            display: none

        > i
          display: none

        > strong
        > span
