ul.months-list li.element, ul.weeks-list li.element {
  color: white;
  font-size: 12px;
  margin: 0 0 1px 0;
  padding: 5px 7px 5px 9px;
  width: 100%;
  position: relative;
  left: -8px; }
  ul.months-list li.element > span, ul.weeks-list li.element > span {
    margin: 0 0 0 10px; }
    ul.months-list li.element > span:first-child, ul.weeks-list li.element > span:first-child {
      margin-left: 0; }
  ul.months-list li.element.open, ul.weeks-list li.element.open {
    background: #b23333; }
  ul.months-list li.element.open-responses, ul.weeks-list li.element.open-responses {
    background: #cc9900; }
  ul.months-list li.element.closed, ul.weeks-list li.element.closed {
    background: #007550; }
  ul.months-list li.element.unavailable, ul.weeks-list li.element.unavailable {
    background: #6d0088; }
  ul.months-list li.element.available, ul.weeks-list li.element.available {
    background: #0066cc; }
