.page.page-calendar.employees-mode > header .weekdays ul.row {
  margin: 0 50px 0 260px; }

.page.page-calendar > header {
  background: #edf0f2;
  height: 88px; }
  .page.page-calendar > header > div.line {
    position: relative;
    z-index: 1;
    margin-right: 30px; }
    .page.page-calendar > header > div.line > span.title {
      margin-left: 20px;
      font-size: 18px;
      color: black; }
    .page.page-calendar > header > div.line > .button.add-groups {
      padding: 14px 28px 14px 40px;
      margin: 3px 0 0 17px;
      position: relative;
      z-index: 1; }
      .page.page-calendar > header > div.line > .button.add-groups.swap-icons i.plus {
        display: none; }
      .page.page-calendar > header > div.line > .button.add-groups.swap-icons i.cross {
        display: block; }
      .page.page-calendar > header > div.line > .button.add-groups.rotate i.plus {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .page.page-calendar > header > div.line > .button.add-groups i.plus, .page.page-calendar > header > div.line > .button.add-groups i.cross {
        position: absolute;
        top: 11px;
        left: 14px; }
      .page.page-calendar > header > div.line > .button.add-groups i.plus {
        -webkit-transition: -webkit-transform 300ms;
        -moz-transition: -webkit-transform 300ms;
        -ms-transition: -webkit-transform 300ms;
        -o-transition: -webkit-transform 300ms;
        transition: -webkit-transform 300ms; }
      .page.page-calendar > header > div.line > .button.add-groups i.cross {
        display: none; }
    .page.page-calendar > header > div.line > .button.button-resources {
      padding: 14px 28px;
      margin: 0 19px 0 0;
      float: right; }
  .page.page-calendar > header .weekdays {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%; }
    .page.page-calendar > header .weekdays ul.row {
      font-size: 16px;
      margin: 0 50px 0 260px;
      overflow: auto; }
      .page.page-calendar > header .weekdays ul.row > li {
        width: 14.28571%;
        float: left;
        text-align: center; }
        .page.page-calendar > header .weekdays ul.row > li.today {
          color: #fd5308; }
        .page.page-calendar > header .weekdays ul.row > li > span {
          display: block;
          margin: 0 0 0 7px; }
