.page.page-calendar > header {
  background: #edf0f2;
  height: 88px; }
  .page.page-calendar > header > div.line {
    margin-right: 30px; }
    .page.page-calendar > header > div.line > span.title {
      margin-left: 20px;
      font-size: 18px;
      color: black; }
    .page.page-calendar > header > div.line > .button.add-groups {
      padding: 14px 28px;
      margin: 3px 0 0 17px; }
    .page.page-calendar > header > div.line > ul.groups-list {
      display: inline-block;
      font-size: 16px;
      margin: 0 0 0 29px; }
      .page.page-calendar > header > div.line > ul.groups-list > li {
        display: inline-block;
        color: #999999;
        margin: 0 0 0 22px; }
        .page.page-calendar > header > div.line > ul.groups-list > li:first-child {
          margin-left: 0; }
        .page.page-calendar > header > div.line > ul.groups-list > li.selected {
          color: #fd5308; }
  .page.page-calendar > header .weekdays {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%; }
    .page.page-calendar > header .weekdays ul.row {
      font-size: 16px;
      margin: 0 50px 0 180px;
      overflow: auto; }
      .page.page-calendar > header .weekdays ul.row > li {
        width: 14.28571%;
        float: left;
        text-align: center; }
        .page.page-calendar > header .weekdays ul.row > li > span {
          display: block;
          margin: 0 0 0 7px; }
