body.highlight-events ul.months-list > li table.days-container .week-row > .cell .element.event, body.highlight-events ul.weeks-list > li table.days-container .week-row > .cell .element.event {
  position: static; }
body.highlight-events ul.months-list > li table.days-container .week-row > .cell > div, body.highlight-events ul.weeks-list > li table.days-container .week-row > .cell > div {
  position: static; }
  body.highlight-events ul.months-list > li table.days-container .week-row > .cell > div > strong.week-number, body.highlight-events ul.weeks-list > li table.days-container .week-row > .cell > div > strong.week-number {
    display: none; }
body.highlight-events.highlight-events.open .element-container.open {
  z-index: 100000;
  position: relative; }
body.highlight-events.highlight-events.open-responses .element-container.open-responses {
  z-index: 100000;
  position: relative; }
body.highlight-events.highlight-events.closed .element-container.closed {
  z-index: 100000;
  position: relative; }
body.highlight-events .page > header > div.line > ul.switcher-events-filter, body.highlight-events .page > footer > div.line > ul.switcher-events-filter {
  z-index: 100000;
  position: relative; }
