.page.page-calendar > .content.week-view ul.period-groups {
  padding: 0 29px 20px 137px; }
  .page.page-calendar > .content.week-view ul.period-groups > li.period-group {
    display: block;
    position: relative;
    margin: 10px 0 0 0; }
    .page.page-calendar > .content.week-view ul.period-groups > li.period-group:first-child {
      margin-top: 0; }
    .page.page-calendar > .content.week-view ul.period-groups > li.period-group > h1.title {
      position: relative;
      padding: 10px;
      margin: 0 0 1px 0;
      background: #333333;
      color: white;
      z-index: 1; }
