.page.page-calendar > .content.week-view ul.skill-groups {
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  -ms-perspective: 3000px;
  -o-perspective: 3000px;
  perspective: 3000px;
  position: relative;
  z-index: 1; }
  .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group {
    position: relative;
    margin: 10px 0 0 130px;
    box-shadow: 0 0 5px #e4e7e9;
    -webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group.folding > div.employee-rows > div {
      visibility: hidden; }
      .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group.folding > div.employee-rows > div:last-child {
        visibility: visible; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group:first-child {
      margin-top: 0; }
      .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group:first-child > div.separator {
        display: none; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .table-container {
      position: relative; }
      .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .table-container.header {
        z-index: 1; }
      .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .table-container > div.side-block {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -125px;
        width: 120px;
        background: #333333;
        color: white;
        text-align: center; }
        .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .table-container > div.side-block > div.inner {
          padding: 16px 10px 15px 10px; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group ul.resource-needs > li.resource-need > strong {
      font-family: OvivoHelveticaNeueBold, "Helvetica Neue Bold", "HelveticaNeue-Bold", sans-serif;
      font-weight: normal; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group ul.resource-needs > li.resource-need > span {
      margin: 0 0 0 10px; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks tr {
      position: relative; }
      .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks tr.bottom-shadow {
        position: absolute; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks.header {
      height: auto; }
      .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks.header .day-block > div.inner {
        height: auto; }
      .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks.header .day-block.side-column {
        font-family: OvivoHelveticaNeueBold, "Helvetica Neue Bold", "HelveticaNeue-Bold", sans-serif; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks .day-block > div.inner {
      min-height: 40px; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks .day-block.side-column {
      width: 120px;
      height: 100%;
      text-align: center;
      background: #333333;
      color: white;
      border-right: 5px solid #edf0f2; }
      .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks .day-block.side-column > div.inner {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px; }
      .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks .day-block.side-column span {
        margin: 0; }
    .page.page-calendar > .content.week-view ul.skill-groups > li.skill-group .day-blocks .day-block.first-column {
      border-left: 0; }
