.page.page-event-details > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 7px 0 7px 0;
  width: 100%;
  box-shadow: 0 -1px 0 white, 0 -2px 0 #cccccc;
  background: #f0f1f3;
  background: -webkit-linear-gradient(top, #f0f1f3, #c1c4cd); }
  .page.page-event-details > footer.active > div.button-post {
    color: #2658c2; }
  .page.page-event-details > footer > div.text-container {
    margin: 0 70px 0 8px;
    border-radius: 4px;
    border: 1px solid #585858;
    box-shadow: 0 1px 1px #dddee3, inset 0 1px 1px #949494, inset 0 -1px 0 #d8d8d8;
    background: white; }
    .page.page-event-details > footer > div.text-container > div.inner-container {
      padding: 6px 13px;
      height: 20px; }
      .page.page-event-details > footer > div.text-container > div.inner-container > input {
        border: 0;
        padding: 0;
        margin: 0;
        outline: 0;
        width: 100%;
        height: 100%;
        font: lighter 14px HelveticaNeue; }
  .page.page-event-details > footer > div.button-post {
    position: absolute;
    right: 8px;
    top: 7px;
    padding: 7px 10px 8px 10px;
    border: 1px solid #bdbfc6;
    border-radius: 4px;
    box-shadow: 0 1px 1px #e0e1e4, 0 -1px 0 #e0e1e4;
    font: lighter 14px HelveticaNeueBold, Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 #ebedf0;
    color: #abadb6; }
    .page.page-event-details > footer > div.button-post > span {
      display: block;
      height: 17px; }
