.popup-overlay
  position: absolute

  top: 0
  left: 0
  z-index: 99999

  width: 100%
  height: 100%

  background: #e4e2d6

  opacity: 0.75
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"

.popup
  width: 300px

  background: white

  position: absolute

  left: 50%
  top: 100px
  z-index: 100000

  margin: 0 0 0 -166px
  padding: 16px

  &.wide
    width: 700px

    margin: 0 0 0 -366px

    > .settings-items
      width: 400px

      margin: 20px auto

      > li.settings-item
        > div.item-content
          > select
            width: 400px

    .columns-container
      > .settings-items
        float: left

        margin: 0 0 0 40px

        &:first-child
          margin-left: 30px

  > h1, > div.close
    color: #807e73

    font: normal 17px 'Helvetica Neue Bold', HelveticaNeueBold, Helvetica, Arial, sans-serif

  > h1
    text-align: center

    padding: 7px 0 0 0

  > div.close
    position: absolute

    top: 10px
    right: 10px

    cursor: pointer

  > div.button
    width: 196px

    margin: 10px auto 0 auto

    display: block

  .columns-container
    overflow: auto

    margin: 20px 0

  .settings-items
    margin: 20px 0

    > li.settings-item
      > div.item-content
        > input
          width: 268px

          height: 22px

          line-height: 22px

        > select
          width: 287px

          height: 40px

          line-height: 19px

          &[multiple="multiple"]
            min-height: 150px

            text-align: left

        > input, > select
          background: #ebe9e0

          color: #525044

          font-size: 15px

          text-align: center

          padding: 9px 9px

          vertical-align: middle

        > span
          font: normal 17px 'Helvetica Neue Bold', HelveticaNeueBold, Helvetica, Arial, sans-serif
          font-style: italic

          color: #807e73

          margin: 0 4px

        &.two
          > input
            width: 110px
