.popup-overlay
  position: absolute

  top: 0
  left: 0
  z-index: 99999

  width: 100%
  height: 100%

  background: #e4e2d6

  opacity: 0.75
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"

  &.enter
    -webkit-animation: popup-overlay-enter 200ms ease-out 0s
    -moz-animation: popup-overlay-enter 200ms ease-out 0s
    -ms-animation: popup-overlay-enter 200ms ease-out 0s
    -o-animation: popup-overlay-enter 200ms ease-out 0s
    animation: popup-overlay-enter 200ms ease-out 0s

  &.exit
    -webkit-animation: popup-overlay-exit 200ms ease-in 0s
    -moz-animation: popup-overlay-exit 200ms ease-in 0s
    -ms-animation: popup-overlay-exit 200ms ease-in 0s
    -o-animation: popup-overlay-exit 200ms ease-in 0s
    animation: popup-overlay-exit 200ms ease-in 0s

.popup
  width: 410px

  background: white

  position: absolute

  left: 50%
  top: 50%
  z-index: 100000

  margin: 0 0 0 -241px
  padding: 10px 36px 36px 36px

  &.enter
    -webkit-animation: popup-enter 200ms ease-out 0s
    -moz-animation: popup-enter 200ms ease-out 0s
    -ms-animation: popup-enter 200ms ease-out 0s
    -o-animation: popup-enter 200ms ease-out 0s
    animation: popup-enter 200ms ease-out 0s

  &.exit
    -webkit-animation: popup-exit 200ms ease-in 0s
    -moz-animation: popup-exit 200ms ease-in 0s
    -ms-animation: popup-exit 200ms ease-in 0s
    -o-animation: popup-exit 200ms ease-in 0s
    animation: popup-exit 200ms ease-in 0s

  > h1, > div.close
    color: #807e73

    font: normal 17px 'Helvetica Neue Bold', HelveticaNeueBold, Helvetica, Arial, sans-serif

  > h1
    text-align: center

    padding: 7px 0 20px 0

  > div.close
    position: absolute

    top: 10px
    right: 10px

    cursor: pointer

  > div.button
    width: 200px

  > div.buttons-container
    text-align: center

    > div.button
      margin: 0 9px

      width: 130px

      display: inline-block

  div.button
    margin: 10px auto 0 auto

    display: block