.popup-overlay
  position: absolute

  top: 0
  left: 0
  z-index: 99999

  width: 100%
  height: 100%

  background: #e4e2d6

  opacity: 0.75
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"

.popup
  width: 300px

  background: white

  position: absolute

  left: 50%
  top: 50%
  z-index: 100000

  margin: 0 0 0 -158px
  padding: 16px

  &.enter
    -webkit-animation: popup-enter 200ms ease-out 0s
    -moz-animation: popup-enter 200ms ease-out 0s
    -ms-animation: popup-enter 200ms ease-out 0s
    -o-animation: popup-enter 200ms ease-out 0s
    animation: popup-enter 200ms ease-out 0s

  &.exit
    -webkit-animation: popup-exit 190ms ease-in 0s
    -moz-animation: popup-exit 190ms ease-in 0s
    -ms-animation: popup-exit 190ms ease-in 0s
    -o-animation: popup-exit 190ms ease-in 0s
    animation: popup-exit 190ms ease-in 0s

  > h1, > div.close
    color: #807e73

    font: normal 17px 'Helvetica Neue Bold', HelveticaNeueBold, Helvetica, Arial, sans-serif

  > h1
    text-align: center

    padding: 7px 0 0 0

  > div.close
    position: absolute

    top: 10px
    right: 10px

    cursor: pointer

  > div.button
    width: 156px

  > div.buttons-container
    text-align: center

    > div.button
      margin: 0 9px

      width: 130px

      display: inline-block

  div.button
    margin: 10px auto 0 auto

    display: block

  > .settings-items
    margin: 20px 0

    > li.settings-item
      > div.item-content
        text-align: center

        > input, > select
          background: #ebe9e0

          color: #525044

          font-size: 15px

          text-align: center

          padding: 9px 9px

          width: 287px

          -webkit-appearance: none

        > input
          height: 17px

        > select
          -webkit-appearance: menulist-button

        > select[multiple="multiple"]
          -webkit-appearance: initial

        > span
          font: normal 17px 'Helvetica Neue Bold', HelveticaNeueBold, Helvetica, Arial, sans-serif
          font-style: italic

          color: #807e73

          margin: 0 4px

        &.two
          > input
            width: 110px
