$names: ('create-new', 'resource-need', 'period', 'period-block')
$values: (76px, 361px, 473px, 400px)

.popup
  @for $i from 1 through length($names)
    &.popup-#{nth($names, $i)}
      $height: nth($values, $i)

      height: $height

      margin-top: -$height / 2 - 50px