.button {
  background: #007550;
  font-size: 13px;
  font-family: "Helvetica Neue Bold", HelveticaNeueBold;
  color: white;
  display: inline-block;
  border-radius: 1px;
  padding: 11px 0 11px 0;
  text-align: center;
  cursor: pointer; }
  .button.disabled {
    background: #6e9c8d; }
  .button.capital {
    text-transform: uppercase; }
