i.logo {
  display: block;
  width: 100px;
  height: 40px;
  background: url("../assets/img/sprite.png") no-repeat;
  background-size: 129px 203px; }
  i.logo.inline {
    display: inline-block; }
  i.logo.title {
    background-position: 0 0px; }

i.icon {
  display: block;
  width: 29px;
  height: 29px;
  background: url("../assets/img/sprite.png") no-repeat;
  background-size: 129px 203px; }
  i.icon.inline {
    display: inline-block; }
  i.icon.left {
    background-position: -100px 0px; }
  i.icon.right {
    background-position: -100px -29px; }
  i.icon.month {
    background-position: -100px -58px; }
  i.icon.week {
    background-position: -100px -87px; }
  i.icon.checked {
    background-position: -100px -116px; }
  i.icon.unchecked {
    background-position: -100px -145px; }
  i.icon.wait {
    background-position: -100px -174px; }
