i.logo {
  display: block;
  width: 140px;
  height: 40px;
  background: url("../assets/img/sprite.png") no-repeat;
  background-size: 318px 261px; }
  i.logo.inline {
    display: inline-block; }
  i.logo.title {
    background-position: 0 0px; }

i.icon {
  display: block;
  width: 29px;
  height: 29px;
  background: url("../assets/img/sprite.png") no-repeat;
  background-size: 318px 261px; }
  i.icon.inline {
    display: inline-block; }
  i.icon.left {
    background-position: -140px 0px; }
  i.icon.right {
    background-position: -140px -29px; }
  i.icon.month {
    background-position: -140px -58px; }
  i.icon.week {
    background-position: -140px -87px; }
  i.icon.checked {
    background-position: -140px -116px; }
  i.icon.unchecked {
    background-position: -140px -145px; }
  i.icon.wait {
    background-position: -140px -174px; }
  i.icon.user {
    background-position: -140px -203px; }
  i.icon.clock {
    background-position: -140px -232px; }

i.icon-huge {
  display: block;
  width: 125px;
  height: 125px;
  background: url("../assets/img/sprite.png") no-repeat;
  background-size: 318px 261px; }
  i.icon-huge.inline {
    display: inline-block; }
  i.icon-huge.ok {
    background-position: -169px 0px; }
  i.icon-huge.facebook {
    background-position: -169px -125px; }

i.icon-smaller {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../assets/img/sprite.png") no-repeat;
  background-size: 318px 261px; }
  i.icon-smaller.inline {
    display: inline-block; }
  i.icon-smaller.checkbox {
    background-position: -294px 0px; }
  i.icon-smaller.checkbox.checked {
    background-position: -294px -24px; }
  i.icon-smaller.plus {
    background-position: -294px -48px; }
  i.icon-smaller.cross {
    background-position: -294px -72px; }
