section.page .notification-message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 210px;
  height: 210px;
  margin: -105px 0 0 -105px;
  z-index: 1000;
  text-align: center; }
  section.page .notification-message div.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: 0.75;
    border-radius: 5px;
    z-index: 1; }
  section.page .notification-message i.icon-huge {
    position: relative;
    z-index: 2;
    margin: 20px auto 0 auto; }
  section.page .notification-message span {
    position: relative;
    z-index: 2;
    font: normal 14px "HelveticaNeueBold";
    font-style: italic;
    color: white; }
