.popup.popup-create-new {
  margin-top: -38px; }
.popup.popup-resource-need {
  margin-top: -180.5px; }
.popup.popup-period {
  margin-top: -236.5px; }
.popup.popup-period-block {
  margin-top: -200px; }
.popup.popup-create-new .button-create-time {
  margin-top: 0; }
