.popup.popup-create-new {
  margin-top: -62px; }
.popup.popup-working-hour {
  margin-top: -222.5px; }
.popup.popup-timeoff {
  margin-top: -130px; }
.popup.popup-create-new .button-create-time {
  margin-top: 0; }
