.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: #e4e2d6;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }

.popup {
  width: 300px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100000;
  margin: 0 0 0 -166px;
  padding: 16px; }
  .popup.wide {
    width: 700px;
    margin: 0 0 0 -366px; }
    .popup.wide > .settings-items {
      width: 400px;
      margin: 20px auto; }
      .popup.wide > .settings-items > li.settings-item > div.item-content > select {
        width: 400px; }
    .popup.wide .columns-container > .settings-items {
      float: left;
      margin: 0 0 0 40px; }
      .popup.wide .columns-container > .settings-items:first-child {
        margin-left: 30px; }
  .popup > h1, .popup > div.close {
    color: #807e73;
    font: normal 17px "Helvetica Neue Bold", HelveticaNeueBold, Helvetica, Arial, sans-serif; }
  .popup > h1 {
    text-align: center;
    padding: 7px 0 0 0; }
  .popup > div.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; }
  .popup > div.button {
    width: 196px; }
  .popup > div.buttons-container {
    text-align: center; }
    .popup > div.buttons-container > div.button {
      margin: 0 9px;
      width: 130px;
      display: inline-block; }
  .popup div.button {
    margin: 10px auto 0 auto;
    display: block; }
  .popup .columns-container {
    overflow: auto;
    margin: 20px 0; }
  .popup .settings-items {
    margin: 20px 0; }
    .popup .settings-items > li.settings-item > div.item-content > input {
      width: 268px; }
    .popup .settings-items > li.settings-item > div.item-content > select {
      width: 287px;
      -webkit-appearance: none; }
    .popup .settings-items > li.settings-item > div.item-content > input {
      height: 17px; }
    .popup .settings-items > li.settings-item > div.item-content > select {
      -webkit-appearance: menulist-button; }
    .popup .settings-items > li.settings-item > div.item-content > select[multiple="multiple"] {
      -webkit-appearance: initial; }
    .popup .settings-items > li.settings-item > div.item-content.two > input {
      width: 110px; }
