.popup.popup-create-new {
  height: 76px;
  margin-top: -88px; }
.popup.popup-resource-need {
  height: 361px;
  margin-top: -230.5px; }
.popup.popup-period {
  height: 473px;
  margin-top: -286.5px; }
