.switcher .switcher-option.selected {
  -webkit-animation: switcher-pop 300ms ease-in 0s;
  -moz-animation: switcher-pop 300ms ease-in 0s;
  -ms-animation: switcher-pop 300ms ease-in 0s;
  -o-animation: switcher-pop 300ms ease-in 0s;
  animation: switcher-pop 300ms ease-in 0s; }
  .switcher .switcher-option.selected.ignore-animation, .switcher .switcher-option.selected .ignore-animation {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none; }
  .switcher .switcher-option.selected .apply-animation {
    -webkit-animation: switcher-pop 300ms ease-in 0s;
    -moz-animation: switcher-pop 300ms ease-in 0s;
    -ms-animation: switcher-pop 300ms ease-in 0s;
    -o-animation: switcher-pop 300ms ease-in 0s;
    animation: switcher-pop 300ms ease-in 0s; }
