{% load general_purpose_tags %}
<!DOCTYPE html>
<!--<html lang="en" manifest="/app.appcache"> -->

<html lang="en">
    <head>
        <script>
            window._start = new Date()
        </script>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link href="{{ MEDIA_URL }}desktop/dist/ovivo-desktop-employee.css" rel="stylesheet" />
        
        <title>Ovivo</title>

        <!--[if lte IE 8]>
        <script src="/lib/html5shiv.js"></script>

        <link href="/dist/ovivo-desktop-employee-ie.css" rel="stylesheet" />
        <![endif]-->
     </head>

    <body class="loading loading-running initial-load">
        <!-- <div id="splash" style="background: #f3f2ec; position: absolute; top: 0; left: 0; z-index: 10000; width: 100%; height: 100%;">
            <div style="width: 160px; height: 30px; margin: 0 auto 0 auto; position: relative; top: 50%;">
                <div style="position: relative; top: -15px; width: 100%; height: 100%; text-align:center;">
                    <div id="splash-logo-inner" src="{{ MEDIA_URL }}desktop/assets/img/loading-title-100x18.png" style="display: block; margin: 0 auto 5px auto; width: 150px; height: 18px; text-align: center; font: bold 12px 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;">{{#i18n}}Loading content{{/i18n}}</div>
                    <img src="{{ MEDIA_URL }}desktop/assets/img/ajax-loader.gif" />
                </div>
            </div>
        </div> -->

        <style>
            .orientation-overlay {
                display: none;
            }

            @media all and (orientation: portrait) {
                .orientation-overlay {
                     display: block; 
                }
            }
        </style>

        <div class="orientation-overlay" style="position: absolute; top: 0px; left: 0px; z-index: 10001; width: 100%; height: 100%; background: #f3f2ec;">
            <div style="position: absolute; top: 50%; left: 50%; height: 50px; width: 200px; margin: -25px 0 0 -100px; text-align: center;">
                Please, use landscape device orientation.
            </div>
        </div>

        <section class="page page-calendar hide">
            <header>
                <div class="line">
                    <div class="placeholder"></div>

                    <div class="button bordered today month-today month-only capital">
                        <span>{{#i18n}}Today{{/i18n}}</span>
                    </div>

                    <div class="button bordered today week-today week-only capital">
                        <span>{{#i18n}}Today{{/i18n}}</span>
                    </div>

                    <button class="navigation navigate-left">
                        <i class="icon left inline no-selection"></i>
                    </button>

                    <button class="navigation navigate-right">
                        <i class="icon right inline no-selection"></i>
                    </button>

                    <span class="title week-title week-only"></span>
                    <span class="title month-title month-only"></span>

                    <div class="button right capital button-create-new">
                        <span>{{#i18n}}Create new{{/i18n}}</span>
                    </div>

                    <ul class="switcher switcher-view">
                        <li>
                            <span>{{#i18n}}Week{{/i18n}}</span>
                        </li>
                        
                        <li>
                            <span>{{#i18n}}Month{{/i18n}}</span>
                        </li>
                    </ul>
                </div>

                <div class="shadow"></div>

                <div class="weekdays">
                    <ul class="row weekdays-row">
                        <li>
                            <span>{{#i18n}}monday{{/i18n}}</span>
                        </li>

                        <li>
                            <span>{{#i18n}}tuesday{{/i18n}}</span>
                        </li>

                        <li>
                            <span>{{#i18n}}wednesday{{/i18n}}</span>
                        </li>

                        <li>
                            <span>{{#i18n}}thursday{{/i18n}}</span>
                        </li>

                        <li>
                            <span>{{#i18n}}friday{{/i18n}}</span>
                        </li>

                        <li>
                            <span>{{#i18n}}saturday{{/i18n}}</span>
                        </li>

                        <li>
                            <span>{{#i18n}}sunday{{/i18n}}</span>
                        </li>
                    </ul>
                </div>
            </header>

            <div class="content month-view scrollable hide">
                <ul class="months-list specific">
                </ul>
            </div>

            <div class="content week-view scrollable hide">
                <ul class="weeks-list specific">
                </ul>
            </div>
        </section>

        <section class="page page-feedback hide">
            <header>
                <div class="line">
                    <div class="placeholder"></div>
                    <span class="title">{{#i18n}}Feedback{{/i18n}}</span>

                    <ul class="switcher switcher-feedback-type">
                        <li>
                            <span>{{#i18n}}Error{{/i18n}}</span>
                        </li>
                        
                        <li>
                            <span>{{#i18n}}Comment{{/i18n}}</span>
                        </li>

                        <li>
                            <span>{{#i18n}}Suggestion{{/i18n}}</span>
                        </li>
                    </ul>

                    <div class="button right send-button capital">
                        <span>{{#i18n}}Send{{/i18n}}</span>
                    </div>
                </div>
            </header>

            <div class="content">
                <div class="textarea-block">
                    <div>
                        <textarea rows="10" placeholder="{{#i18n}}Leave your feedback here{{/i18n}}"></textarea>
                    </div>
                </div>
            </div>
        </section>

        <section class="page page-settings hide">
            <header>
                <div class="line">
                    <div class="placeholder"></div>
                    <span class="title">{{#i18n}}Settings{{/i18n}}</span>
                </div>
            </header>

            <div class="content general-view hide">
                <div class="line">
                    <h2 class="title">{{#i18n}}Settings{{/i18n}}</h2>

                    <div class="placeholder"></div>

                    <ul class="sections-menu">
                        <li class="selected sections-menu-item sections-menu-item-general">
                            <span>{{#i18n}}General{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-notifications">
                            <span>{{#i18n}}Notifications{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-availability">
                            <span>{{#i18n}}Availability{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-timeoff">
                            <span>{{#i18n}}Time off{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-connections">
                            <span>{{#i18n}}Connections{{/i18n}}</span>
                        </li>
                    </ul>
                </div>

                <ul class="scroll-container scrollable settings-items apply-animation">
                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}First name{{/i18n}}</span><em>{{#i18n}}Explanation 1{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <div class="input-wrapper">
                                <input class="value value-first_name" type="text" placeholder="{{#i18n}}First name{{/i18n}}" />
                            </div>
                        </div>
                    </li>

                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}Last name{{/i18n}}</span><em>{{#i18n}}Explanation 2{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <div class="input-wrapper">
                                <input class="value value-last_name" type="text" placeholder="{{#i18n}}Last name{{/i18n}}" />
                            </div>
                        </div>
                    </li>

                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}Mobile number{{/i18n}}</span><em>{{#i18n}}Explanation 3{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <div class="input-wrapper">
                                <input class="value value-mobile_phone" type="text" placeholder="{{#i18n}}Mobile number{{/i18n}}" />
                            </div>
                        </div>
                    </li>

                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}E-mail address{{/i18n}}</span><em>{{#i18n}}Explanation 4{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <div class="input-wrapper">
                                <input class="value value-email" type="text" placeholder="{{#i18n}}E-mail address{{/i18n}}" />
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="shadow top apply-animation"></div>
                <div class="shadow bottom apply-animation"></div>
            </div>

            <div class="content notifications-view hide">
                <div class="line">
                    <h2 class="title">{{#i18n}}Settings{{/i18n}}</h2>

                    <div class="placeholder"></div>

                    <ul class="sections-menu">
                        <li class="sections-menu-item sections-menu-item-general">
                            <span>{{#i18n}}General{{/i18n}}</span>
                        </li>

                        <li class="selected sections-menu-item sections-menu-item-notifications">
                            <span>{{#i18n}}Notifications{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-availability">
                            <span>{{#i18n}}Availability{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-timeoff">
                            <span>{{#i18n}}Time off{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-connections">
                            <span>{{#i18n}}Connections{{/i18n}}</span>
                        </li>
                    </ul>
                </div>

                <ul class="scroll-container scrollable settings-items apply-animation">
                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}Send me notifications via e-mail{{/i18n}}</span><em>{{#i18n}}Explanation 5{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <ul class="options-group options-notify_email">
                                <li class="option selected">
                                    <span>{{#i18n}}Yes{{/i18n}}</span>
                                </li>

                                <li class="option">
                                    <span>{{#i18n}}No{{/i18n}}</span>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}Send me notifications via SMS{{/i18n}}</span><em>{{#i18n}}Explanation 6{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <ul class="options-group options-notify_sms">
                                <li class="option selected">
                                    <span>{{#i18n}}Yes{{/i18n}}</span>
                                </li>

                                <li class="option">
                                    <span>{{#i18n}}No{{/i18n}}</span>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}Activity report{{/i18n}}</span><em>{{#i18n}}Explanation 7{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <ul class="options-group options-activity_digest">
                                <li class="option selected">
                                    <span>{{#i18n}}Yes{{/i18n}}</span>
                                </li>

                                <li class="option">
                                    <span>{{#i18n}}No{{/i18n}}</span>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}Send me confirmation when bidding through SMS{{/i18n}}</span><em>{{#i18n}}Explanation 8{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <ul class="options-group options-response_confirmation">
                                <li class="option selected">
                                    <span>{{#i18n}}Yes{{/i18n}}</span>
                                </li>

                                <li class="option">
                                    <span>{{#i18n}}No{{/i18n}}</span>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}Send me notifications 24 hour before assigned events starts{{/i18n}}</span><em>{{#i18n}}Explanation 9{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <ul class="options-group options-event_reminders">
                                <li class="option selected">
                                    <span>{{#i18n}}Yes{{/i18n}}</span>
                                </li>

                                <li class="option">
                                    <span>{{#i18n}}No{{/i18n}}</span>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="settings-item">
                        <div class="header">
                            <span>{{#i18n}}The number of days inside of which a user will be notified of a new event immediately by text and/or email{{/i18n}}</span><em>{{#i18n}}Explanation 10{{/i18n}}</em>
                        </div>

                        <div class="item-content">
                            <ul class="options-group options-event_urgent_within">
                                <li class="option selected">
                                    <span>3{{#i18n}}d{{/i18n}}</span>
                                </li>

                                <li class="option">
                                    <span>7{{#i18n}}d{{/i18n}}</span>
                                </li>

                                <li class="option">
                                    <span>14{{#i18n}}d{{/i18n}}</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <div class="shadow top apply-animation"></div>
                <div class="shadow bottom apply-animation"></div>
            </div>

            <div class="content availability-view hide">
                <div class="line">
                    <h2 class="title">{{#i18n}}Settings{{/i18n}}</h2>

                    <div class="placeholder"></div>

                    <ul class="sections-menu">
                        <li class="sections-menu-item sections-menu-item-general">
                            <span>{{#i18n}}General{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-notifications">
                            <span>{{#i18n}}Notifications{{/i18n}}</span>
                        </li>

                        <li class="selected sections-menu-item sections-menu-item-availability">
                            <span>{{#i18n}}Availability{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-timeoff">
                            <span>{{#i18n}}Time off{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-connections">
                            <span>{{#i18n}}Connections{{/i18n}}</span>
                        </li>
                    </ul>
                </div>

                <div class="info apply-animation">
                    <h2>{{#i18n}}Explanation 11{{/i18n}}</h2>
                    <h3>{{#i18n}}Explanation 12{{/i18n}}</h3>
                </div>

                <div class="wireframe elements-header apply-animation">
                    <div class="side-container">
                        <div class="button button-add-new">
                            <span>+ {{#i18n}}Add new time{{/i18n}}</span>
                        </div>
                    </div>

                    <ul class="columns weekdays-titles">
                        <li>{{#i18n}}Monday{{/i18n}}</li>
                        <li>{{#i18n}}Tuesday{{/i18n}}</li>
                        <li>{{#i18n}}Wednesday{{/i18n}}</li>
                        <li>{{#i18n}}Thursday{{/i18n}}</li>
                        <li>{{#i18n}}Friday{{/i18n}}</li>
                        <li>{{#i18n}}Saturday{{/i18n}}</li>
                        <li>{{#i18n}}Sunday{{/i18n}}</li>
                    </ul>
                </div>

                <ul class="scroll-container scrollable elements working-hours apply-animation">

                </ul>

                <div class="shadow top"></div>
                <div class="shadow bottom"></div>
            </div>

            <div class="content timeoff-view hide">
                <div class="line">
                    <h2 class="title">{{#i18n}}Settings{{/i18n}}</h2>

                    <div class="placeholder"></div>

                    <ul class="sections-menu">
                        <li class="sections-menu-item sections-menu-item-general">
                            <span>{{#i18n}}General{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-notifications">
                            <span>{{#i18n}}Notifications{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-availability">
                            <span>{{#i18n}}Availability{{/i18n}}</span>
                        </li>

                        <li class="selected sections-menu-item sections-menu-item-timeoff">
                            <span>{{#i18n}}Time off{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-connections">
                            <span>{{#i18n}}Connections{{/i18n}}</span>
                        </li>
                    </ul>

                </div>

                <div class="info apply-animation">
                    <h2>{{#i18n}}Explanation 13{{/i18n}}</h2>
                    <h3>{{#i18n}}Explanation 14{{/i18n}}</h3>
                </div>

                <div class="wireframe elements-header apply-animation">
                    <div class="side-container">
                        <div class="button button-add-new">
                            <span>+ {{#i18n}}Add time off{{/i18n}}</span>
                        </div>
                    </div>
                </div>

                <ul class="scroll-container scrollable elements inactivities apply-animation">

                </ul>

                <div class="shadow top"></div>
                <div class="shadow bottom"></div>
            </div>

            <div class="content connections-view hide">
                <div class="line">
                    <h2 class="title">{{#i18n}}Settings{{/i18n}}</h2>

                    <div class="placeholder"></div>

                    <ul class="sections-menu">
                        <li class="sections-menu-item sections-menu-item-general">
                            <span>{{#i18n}}General{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-notifications">
                            <span>{{#i18n}}Notifications{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-availability">
                            <span>{{#i18n}}Availability{{/i18n}}</span>
                        </li>

                        <li class="sections-menu-item sections-menu-item-timeoff">
                            <span>{{#i18n}}Time off{{/i18n}}</span>
                        </li>

                        <li class="selected sections-menu-item sections-menu-item-connections">
                            <span>{{#i18n}}Connections{{/i18n}}</span>
                        </li>
                    </ul>

                </div>

                <div class="info apply-animation">
                    <h2>{{#i18n}}Explanation 21{{/i18n}}</h2>
                    <h3>{{#i18n}}Explanation 22{{/i18n}}</h3>
                </div>

                <ul class="connections-container apply-animation">
                    <li>
                        <i class="icon-huge facebook"></i>
                        <ul class="options-group options-facebook">
                            <li class="option option-connect selected">
                                <span>{{#i18n}}Connect{{/i18n}}</span>
                            </li>

                            <li class="option option-disconnect">
                                <span>{{#i18n}}Disconnect{{/i18n}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>

        <section class="page page-help hide">
            <header>
                <div class="line">
                    <div class="placeholder"></div>
                    <span class="title">{{#i18n}}Help{{/i18n}}</span>
                </div>
            </header>

            <div class="content">
                <iframe></iframe>
            </div>
        </section>

        <section class="page page-event-details hide">
            <header>
                <div class="line">
                    <div class="placeholder"></div>
                    <span class="title"></span>

                    <div class="button capital right button-close">
                        <span>X</span>
                    </div>

                    <br />
                </div>

                <div class="shadow"></div>
            </header>

            <div class="content scrollable">
                <div class="event-container">
                </div>
            </div>

            <footer>
                <div class="text-container">
                    <div class="inner-container">
                        <input class="comment-input" type="text" placeholder="{{#i18n}}Write a comment here...{{/i18n}}" />
                    </div>
                </div>

                <div class="button-post post-comment">
                    <span>{{#i18n}}Post{{/i18n}}</span>
                </div>
            </footer>
        </section>

        <section class="page page-notifications hide">
            <header>
                <div class="line">
                    <div class="placeholder"></div>
                    <span class="title">{{#i18n}}Notifications{{/i18n}}</span>

                    <div class="button right capital done-button">
                        <span>X</span>
                    </div>
                </div>
                
                <div class="shadow"></div>
            </header>

            <div class="content scrollable">
                <ul class="notifications-list">
                </ul>

                <div class="button load-more-button">
                    <span>{{#i18n}}Load more{{/i18n}}</span>
                </div>
            </div>
        </section>

        <section class="side-bar">
            <h1 class="title">
                <img src="{{ MEDIA_URL }}desktop/assets/img/global-loader.gif" />
                <i class="logo title"></i>

                <div class="notifications-indicator-container" style="display: none;">
                    <div class="notifications-indicator">
                        
                    </div>
                </div>
            </h1>

            <ul class="menu">
                <li id="menu-item-calendar" class="menu-item selected">
                    {{#i18n}}Calendar{{/i18n}}
                </li>

                <li id="menu-item-settings" class="menu-item">
                    {{#i18n}}Settings{{/i18n}}
                </li>

                <li id="menu-item-feedback" class="menu-item">
                    {{#i18n}}Feedback{{/i18n}}
                </li>

                <li id="menu-item-help" class="menu-item">
                    {{#i18n}}Help{{/i18n}}
                </li>

                <li>
                    <a href="{% url logout %}">{{#i18n}}Logout{{/i18n}}</a>
                </li>
            </ul>
        </section>

        <div class="popup-overlay" style="display: none;"></div>

        <div class="popup popup-create-new" style="display: none;">
            <h1 class="create-mode">{{#i18n}}Choose an option{{/i18n}}</h1>
            
            <div class="button capital close">
                <span>X</span>
            </div>

            <div class="button capital button-create-time">
                {{#i18n}}Create time{{/i18n}}
            </div>

            <div class="button capital button-create-timeoff">
                {{#i18n}}Create timeoff{{/i18n}}
            </div>
        </div>

        <div class="popup popup-working-hour" style="display: none;">
            <h1 class="create-mode">{{#i18n}}Add new time{{/i18n}}</h1>
            <h1 class="edit-mode">{{#i18n}}Edit time{{/i18n}}</h1>

            <div class="button capital close">
                <span>X</span>
            </div>

            <ul class="settings-items">
                <li class="settings-item">
                    <div class="header">
                        <span>{{#i18n}}Time{{/i18n}}</span><em>{{#i18n}}Explanation 15{{/i18n}}</em>
                    </div>

                    <div class="item-content two">
                        <input type="time" class="property-value property-value-start_time" />
                        <span>{{#i18n}}to{{/i18n}}</span>
                        <input type="time" class="property-value property-value-end_time" />
                    </div>
                </li>

                <li class="settings-item">
                    <div class="header">
                        <span>{{#i18n}}Date{{/i18n}}</span><em>{{#i18n}}Explanation 16{{/i18n}}</em>
                    </div>

                    <div class="item-content two">
                        <input type="text" class="property-value property-value-start_date datepicker" />
                        <span>{{#i18n}}to{{/i18n}}</span>
                        <input type="date" class="property-value property-value-end_date datepicker" />
                    </div>
                </li>

                <li class="settings-item">
                    <div class="header">
                        <span>{{#i18n}}Status{{/i18n}}</span><em>{{#i18n}}Explanation 17{{/i18n}}</em>
                    </div>

                    <div class="item-content two">
                        <select class="property-value property-value-available">
                            <option value="true">{{#i18n}}Available{{/i18n}}</option>
                            <option value="false">{{#i18n}}Unavailable{{/i18n}}</option>
                        </select>
                    </div>
                </li>
                
                <li class="settings-item">
                    <div class="header">
                        <span>{{#i18n}}Repeat{{/i18n}}</span><em>{{#i18n}}Explanation 18{{/i18n}}</em>
                    </div>

                    <div class="item-content two">
                        <select class="property-value property-value-repeat">
                            <option value="1">{{#i18n}}Every other week{{/i18n}}</option>
                            <option value="2">{{#i18n}}Every second week{{/i18n}}</option>
                            <option value="3">{{#i18n}}Every third week{{/i18n}}</option>
                            <option value="4">{{#i18n}}Every fourth week{{/i18n}}</option>
                        </select>
                    </div>
                </li>
            </ul>

            <div class="button capital button-add create-mode">
                + {{#i18n}}Add time{{/i18n}}
            </div>

            <div class="buttons-container">
                <div class="button capital warning button-delete edit-mode">
                    {{#i18n}}Delete{{/i18n}}
                </div><div class="button capital button-save edit-mode">
                    {{#i18n}}Save{{/i18n}}
                </div>
            </div>
        </div>

        <div class="popup popup-timeoff" style="display: none;">
            <h1 class="create-mode">{{#i18n}}Add new time off{{/i18n}}</h1>
            <h1 class="edit-mode">{{#i18n}}Edit time off{{/i18n}}</h1>

            <div class="button capital close">
                <span>X</span>
            </div>

            <ul class="settings-items">
                <li class="settings-item">
                    <div class="header">
                        <span>{{#i18n}}Date{{/i18n}}</span><em>{{#i18n}}Explanation 19{{/i18n}}</em>
                    </div>

                    <div class="item-content two">
                        <input type="text" class="datepicker property-value property-value-start" />
                        <span>{{#i18n}}to{{/i18n}}</span>
                        <input type="text" class="datepicker property-value property-value-end" />
                    </div>
                </li>

                <li class="settings-item">
                    <div class="header">
                        <span>{{#i18n}}Reason{{/i18n}}</span><em>{{#i18n}}Explanation 20{{/i18n}}</em>
                    </div>

                    <div class="item-content">
                        <input type="text" placeholder="{{#i18n}}Reason{{/i18n}}" class="property-value property-value-reason" />
                    </div>
                </li>
            </ul>

            <div class="button capital button-add create-mode">
                + {{#i18n}}Add time off{{/i18n}}
            </div>

            <div class="buttons-container">
                <div class="button capital warning button-delete edit-mode">
                    {{#i18n}}Delete{{/i18n}}
                </div><div class="button capital button-save edit-mode">
                    {{#i18n}}Save{{/i18n}}
                </div>
            </div>
        </div>

        <div id="fb-root"></div>

        <script>
            if (typeof window.ovivo === 'undefined') {
                window.ovivo = {};
            }

            window.ovivo.dict = {{dictionary}};
        </script>

        <script>
            if (typeof window.gettext === 'undefined') {
                window.gettext = (function () {
                    return function (msgid) {
                        if (typeof window.ovivo.dict[msgid] !== 'undefined') {
                            return window.ovivo.dict[msgid];
                        }

                        return msgid;
                    };
                } ());
            }

            if (typeof window.ngettext === 'undefined') {
                window.ngettext = (function () {
                    return function (singular, plural, num) {
                        if ((num === 1) || (num % 10 === 1)) {
                            return (window.ovivo.dict[singular] !== undefined)? window.ovivo.dict[singular]: singular;
                        } else {
                            return (window.ovivo.dict[plural] !== undefined)? window.ovivo.dict[plural]: plural;
                        }
                    };
                } ());
            }
        </script>

        <script>
            if (typeof ovivo === 'undefined') { ovivo = {}; }

            ovivo._config = {
                USER_ID: {{ request.user.pk }},
                SOCKET_IO_CONNECT_URL: '{{ SOCKETIO_URL }}',
                FB_APP_ID: '{{ FACEBOOK_APP_ID }}'
                TIMEZONE_OFFSET: {{ time_zone_offset }}

                PAGE_TRANSITION_ANIMATION: false,
                LOADER_URL: '{{ MEDIA_URL }}desktop/assets/img/ajax-loader.gif'
            };
        </script>

        <!-- <script src="{{ MEDIA_URL }}desktop/lib/require.js" data-main="/src/js/main"></script> -->
        <script src="{{ MEDIA_URL }}desktop/lib/require.js"></script>
        <script src="{{ MEDIA_URL }}desktop/dist/ovivo-desktop-employee-require.js"></script>

        <script>
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <script>
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "{{ SOCKETIO_URL }}/socket.io/socket.io.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'socket_io'));
        </script>

        {% mixpanel %}
        <script type="text/javascript">
            mixpanel.people.identify({{ user.id }});
            mixpanel.people.set({
                $name: '{{ user.get_full_name }}',
                $email: '{{ user.email }}',
                $first_name: '{{ user.first_name }}',
                $last_name: '{{ user.last_name }}',
                "id": {{ user.id }}
            });
        </script>

        {% googleanalyticsjs %}
    </body>
</html>