.page.page-settings .content {
  margin: 135px 40px 40px 40px; }
  .page.page-settings .content > .line {
    overflow: auto; }
    .page.page-settings .content > .line > * {
      vertical-align: middle; }
  .page.page-settings .content h2.title {
    color: #807e73;
    font-weight: normal;
    font-size: 21px;
    display: inline-block;
    margin: 0 30px 0 0; }
