.wireframe {
  margin: 0 0 0 250px;
  position: relative; }
  .wireframe .side-container {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%; }

.wireframe.elements-header {
  height: 60px;
  margin-top: 23px; }
  .wireframe.elements-header .button {
    width: 158px; }

.elements {
  margin: 220px 0 0 0;
  overflow: visible; }
  .elements .attributes > li {
    font-size: 13px; }
    .elements .attributes > li > strong {
      width: 70px;
      display: inline-block;
      font-family: OvivoHelveticaNeueBold, "Helvetica Neue Bold", "HelveticaNeue-Bold", sans-serif;
      font-weight: normal;
      text-align: right;
      margin: 0 3px 0 0; }
  .elements > li.empty {
    font-style: italic; }
  .elements > li.element {
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 0 #d9d6c6;
    overflow: hidden;
    margin: 10px 0 0 0; }
    .elements > li.element > input[type="checkbox"] {
      display: none;
      position: absolute;
      top: 50%;
      margin: -6px 0 0 0;
      left: -25px;
      cursor: pointer; }
    .elements > li.element.show-checkbox {
      overflow: visible;
      margin-left: 25px;
      position: relative; }
      .elements > li.element.show-checkbox > input[type="checkbox"] {
        display: block; }
    .elements > li.element:first-child {
      margin-top: 0; }
    .elements > li.element > .wireframe .side-container {
      border-right: 1px solid #e4e2d6; }
    .elements > li.element > .wireframe .edit-button, .elements > li.element > .wireframe .remove-button {
      position: absolute;
      background: #e4e2d6;
      color: #807e73;
      font-size: 13px;
      right: 0;
      top: 0;
      padding: 4px 0;
      width: 70px;
      cursor: pointer;
      text-align: center; }
    .elements > li.element > .wireframe .edit-button {
      right: 0; }
    .elements > li.element > .wireframe .remove-button {
      right: 73px; }
    .elements > li.element > .wireframe .templates-names {
      position: absolute;
      bottom: 5px;
      left: 10px;
      font-size: 13px; }
      .elements > li.element > .wireframe .templates-names.empty > i {
        display: inline; }
      .elements > li.element > .wireframe .templates-names.empty > strong, .elements > li.element > .wireframe .templates-names.empty > span {
        display: none; }
      .elements > li.element > .wireframe .templates-names > i {
        display: none; }
