.notifications-view .settings-items, .general-view .settings-items {
  margin: 90px 0 70px 0; }

.settings-items {
  margin: 90px 0 0 0; }
  .settings-items > li.settings-item {
    font-size: 15px;
    margin: 22px 0 0 0; }
    .settings-items > li.settings-item:first-child {
      margin-top: 0; }
    .settings-items > li.settings-item > div.header {
      min-height: 23px;
      text-align: left; }
      .settings-items > li.settings-item > div.header span {
        font-family: "Helvetica Neue Bold", HelveticaNeueBold, Helvetica, Arial, sans-serif;
        color: #525044;
        margin: 0 10px 0 0; }
      .settings-items > li.settings-item > div.header em {
        font-style: normal;
        color: #807e73; }
      .settings-items > li.settings-item > div.header .badge {
        visibility: hidden;
        margin: 0 0 0 10px; }
      .settings-items > li.settings-item > div.header.changed .badge {
        visibility: visible; }
    .settings-items > li.settings-item > div.item-content {
      margin: 13px 0 0 0; }
      .settings-items > li.settings-item > div.item-content > div.input-wrapper {
        background: white;
        border-radius: 1px;
        box-shadow: 0 1px 0 #d9d6c6;
        padding: 10px; }
        .settings-items > li.settings-item > div.item-content > div.input-wrapper > input, .settings-items > li.settings-item > div.item-content > div.input-wrapper > select {
          font-size: 15px;
          color: #525044;
          width: 100%; }
      .settings-items > li.settings-item > div.item-content > input {
        width: 268px;
        height: 22px;
        line-height: 22px; }
      .settings-items > li.settings-item > div.item-content > select {
        width: 287px;
        height: 40px;
        line-height: 19px; }
        .settings-items > li.settings-item > div.item-content > select[multiple="multiple"] {
          min-height: 150px;
          text-align: left; }
      .settings-items > li.settings-item > div.item-content > input, .settings-items > li.settings-item > div.item-content > select {
        background: #ebe9e0;
        color: #525044;
        font-size: 15px;
        text-align: center;
        padding: 9px 9px;
        vertical-align: middle; }
      .settings-items > li.settings-item > div.item-content > span {
        font: normal 17px "Helvetica Neue Bold", HelveticaNeueBold, Helvetica, Arial, sans-serif;
        font-style: italic;
        color: #807e73;
        margin: 0 4px; }
      .settings-items > li.settings-item > div.item-content.two > input {
        width: 110px; }

ul.options-group {
  overflow: auto; }
  ul.options-group > li.option {
    display: block;
    float: left;
    margin: 0 0 0 30px;
    padding: 8px 10px;
    border: 1px solid #807e73;
    border-radius: 2px;
    font-family: "Helvetica Neue Bold", HelveticaNeueBold, Helvetica, Arial, sans-serif;
    color: #807e73;
    width: 80px; }
    ul.options-group > li.option.selected {
      color: white;
      border-color: #007550;
      background: #007550; }
    ul.options-group > li.option:first-child {
      margin-left: 0; }
