.settings-items {
  margin: 50px 0 0 0; }
  .settings-items > li.settings-item {
    font-size: 15px;
    margin: 22px 0 0 0; }
    .settings-items > li.settings-item:first-child {
      margin-top: 0; }
    .settings-items > li.settings-item > div.header span {
      font-family: "Helvetica Neue Bold", HelveticaNeueBold;
      color: #525044;
      margin: 0 10px 0 0; }
    .settings-items > li.settings-item > div.header em {
      font-style: normal;
      color: #807e73; }
    .settings-items > li.settings-item > div.item-content {
      margin: 13px 0 0 0; }
      .settings-items > li.settings-item > div.item-content > div.input-wrapper {
        background: white;
        border-radius: 1px;
        box-shadow: 0 1px 0 #d9d6c6;
        padding: 10px; }
        .settings-items > li.settings-item > div.item-content > div.input-wrapper > input {
          font-size: 15px;
          color: #525044;
          width: 100%; }
      .settings-items > li.settings-item > div.item-content > ul.options-group {
        overflow: auto; }
        .settings-items > li.settings-item > div.item-content > ul.options-group > li.option {
          display: block;
          float: left;
          margin: 0 0 0 30px;
          padding: 8px 10px;
          border: 1px solid #807e73;
          border-radius: 2px;
          font-family: "Helvetica Neue Bold", HelveticaNeueBold;
          color: #807e73;
          width: 80px; }
          .settings-items > li.settings-item > div.item-content > ul.options-group > li.option.selected {
            color: white;
            border-color: #007550;
            background: #007550; }
          .settings-items > li.settings-item > div.item-content > ul.options-group > li.option:first-child {
            margin-left: 0; }
