<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}">
    <ul class="resource-needs-rows">
        <li class="resource-need-row">
            <div class="time-range">
                <span class="time top">07.00</span>
                <span class="time bottom">12.00</span>
            </div>

            <table class="day-blocks header">
                <tbody>
                    <tr>
                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>
                    </tr>

                    <tr class="bottom-shadow">
                    </tr>
                </tbody>
            </table>

            <table class="day-blocks content">
                <tbody>
                    <tr>
                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="day-blocks footer">
                <tbody>
                    <tr>
                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>

        <li class="resource-need-row">
            <div class="time-range">
                <span class="time top">12.00</span>
                <span class="time bottom">17.00</span>
            </div>

            <table class="day-blocks header">
                <tbody>
                    <tr>
                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>
                    </tr>

                    <tr class="bottom-shadow">
                    </tr>
                </tbody>
            </table>

            <table class="day-blocks content">
                <tbody>
                    <tr>
                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="day-blocks footer">
                <tbody>
                    <tr>
                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>

        <li class="resource-need-row">
            <div class="time-range">
                <span class="time top">12.00</span>
                <span class="time bottom">17.00</span>
            </div>

            <table class="day-blocks header">
                <tbody>
                    <tr>
                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <strong>Sosu</strong><span>6 of 9</span>
                            </div>
                        </td>
                    </tr>

                    <tr class="bottom-shadow">
                    </tr>
                </tbody>
            </table>

            <table class="day-blocks content">
                <tbody>
                    <tr>
                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <ul class="employees">
                                    <li class="employee assigned">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee responsed">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                    <li class="employee open">
                                        <div class="indicator"></div>
                                        <span>Anders Friis</span>
                                    </li>
                                </ul>

                                <div class="empty">
                                    <div class="indicator"></div>
                                    <span>2 empty slots</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="day-blocks footer">
                <tbody>
                    <tr>
                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                                <span>20h of 45h</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>

    <div class="overlay">
        <em>
            <span>{{#i18n}}Loading content{{/i18n}}</span><br />
            <img src="{{loaderUrl}}" />
        </em>
    </div>
</li>

{{/elements}}

</ul>