<div>

{{#elements}}

<table id="element-view-{{pk}}-{{cid}}" class="working-hour element">
    <tbody>
        <tr>
            <td class="day-block side-column">
                <div class="inner">
                    <span>{{name}}</span>
                </div>
            </td>

            <td class="day-block first-column">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>
        </tr>

        <tr class="bottom-shadow">
        </tr>
    </tbody>
</table>

{{/elements}}

</div>