<div class="side-block">
    <div class="inner">
        <span>{{name}}</span>
    </div>
</div>

<table class="day-blocks content">
    <tbody>
        <tr>
            <td class="day-block container">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block container">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block container">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block container">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block container">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block container">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>

            <td class="day-block container">
                <div class="inner">
                    <ul class="activities">
                    </ul>
                </div>
            </td>
        </tr>

        <tr class="bottom-shadow">
        </tr>
    </tbody>
</table>