<tbody>
    <tr>
        <td class="day-block side-column">
            <div class="inner">
                <span>Bente Brun Jørgensen</span>
            </div>
        </td>

        <td class="day-block first-column">
            <div class="inner">
                <ul class="activities">
                </ul>
            </div>
        </td>

        <td class="day-block first-column">
            <div class="inner">
                <ul class="activities">
                </ul>
            </div>
        </td>

        <td class="day-block first-column">
            <div class="inner">
                <ul class="activities">
                </ul>
            </div>
        </td>

        <td class="day-block first-column">
            <div class="inner">
                <ul class="activities">
                </ul>
            </div>
        </td>

        <td class="day-block first-column">
            <div class="inner">
                <ul class="activities">
                </ul>
            </div>
        </td>

        <td class="day-block first-column">
            <div class="inner">
                <ul class="activities">
                </ul>
            </div>
        </td>

        <td class="day-block first-column">
            <div class="inner">
                <ul class="activities">
                </ul>
            </div>
        </td>
    </tr>

    <tr class="bottom-shadow">
    </tr>
</tbody>