<div class="wireframe">
    <div class="side-container">
        <i class="pending icon wait inline"></i>
        <i class="approved icon checked inline"></i>
        <i class="not-approved icon unchecked inline"></i>
    </div>

    <ul class="attributes">
        <li>
            <strong>{{#i18n}}Status{{/i18n}}</strong>
            <span>{{approved}}</span>
        </li>
        <li>
            <strong>{{#i18n}}Date{{/i18n}}</strong>
            <span>{{start}} – {{end}}</span>
        </li>

        {{#isReason}}
        <li>
            <strong>{{#i18n}}Note{{/i18n}}</strong>
            <span>{{reason}}</span>
        </li>
        {{/isReason}}
    </ul>

    <div class="edit-button">
        {{#i18n}}Edit{{/i18n}}
    </div>

    <div class="remove-button">
        {{#i18n}}Remove{{/i18n}}
    </div>
</div>