<div class="wireframe">
    <div class="side-container">
        <i class="icon wait inline"></i>
    </div>

    <ul class="attributes">
        <li>
            <strong>Status</strong>
            <span>{{approved}}</span>
        </li>
        <li>
            <strong>Date </strong>
            <span>{{start}} – {{end}}</span>
        </li>
        <li>
            <strong>Note</strong>
            <span>{{reason}}</span>
        </li>
    </ul>

    <div class="edit-button">
        Edit
    </div>

    <div class="remove-button">
        Remove
    </div>
</div>