<h1 class="title">
    <span class="group-name"></span>
</h1>

<ul class="time-groups">
</ul>

<ul class="skill-groups">
    <li class="skill-group">
        <table class="day-blocks header">
            <tbody>
                <tr>
                    <td class="day-block side-column">
                        <div class="inner">
                            <span>SOSU</span>
                        </div>
                    </td>

                    <td class="day-block first-column">
                        <div class="inner">
                            <ul class="resource-needs">
                                <li class="resource-need">
                                    <strong>07.00 – 15.00</strong><span>0 of 5</span>
                                </li>

                                <li class="resource-need">
                                    <strong>07.00 – 15.00</strong><span>0 of 5</span>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>
                </tr>

                <tr class="bottom-shadow">
                </tr>
            </tbody>
        </table>

        <table class="day-blocks content">
            <tbody>
                <tr>
                    <td class="day-block side-column">
                        <div class="inner">
                            <span>Bente Brun Jørgensen</span>
                        </div>
                    </td>

                    <td class="day-block first-column">
                        <div class="inner">
                            <ul class="activities">
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>
                </tr>

                <tr class="bottom-shadow">
                </tr>
            </tbody>
        </table>

        <table class="day-blocks content">
            <tbody>
                <tr>
                    <td class="day-block side-column">
                        <div class="inner">
                            <span>Bente Brun Jørgensen</span>
                        </div>
                    </td>

                    <td class="day-block first-column">
                        <div class="inner">
                            <ul class="activities">
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>
                </tr>

                <tr class="bottom-shadow">
                </tr>
            </tbody>
        </table>

        <div class="separator"></div>
    </li>
    <li class="skill-group">
        <table class="day-blocks header">
            <tbody>
                <tr>
                    <td class="day-block side-column">
                        <div class="inner">
                            <span>SOSU</span>
                        </div>
                    </td>

                    <td class="day-block first-column">
                        <div class="inner">
                            <ul class="resource-needs">
                                <li class="resource-need">
                                    <strong>07.00 – 15.00</strong><span>0 of 5</span>
                                </li>

                                <li class="resource-need">
                                    <strong>07.00 – 15.00</strong><span>0 of 5</span>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>
                </tr>

                <tr class="bottom-shadow">
                </tr>
            </tbody>
        </table>

        <table class="day-blocks content">
            <tbody>
                <tr>
                    <td class="day-block side-column">
                        <div class="inner">
                            <span>Bente Brun Jørgensen</span>
                        </div>
                    </td>

                    <td class="day-block first-column">
                        <div class="inner">
                            <ul class="activities">
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>
                </tr>

                <tr class="bottom-shadow">
                </tr>
            </tbody>
        </table>

        <table class="day-blocks content">
            <tbody>
                <tr>
                    <td class="day-block side-column">
                        <div class="inner">
                            <span>Bente Brun Jørgensen</span>
                        </div>
                    </td>

                    <td class="day-block first-column">
                        <div class="inner">
                            <ul class="activities">
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                                <li class="activity open">
                                    <div class="indicator"></div><span>08:00 – 09:00</span>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>

                    <td class="day-block">
                        <div class="inner">
                        </div>
                    </td>
                </tr>

                <tr class="bottom-shadow">
                </tr>
            </tbody>
        </table>

        <div class="separator"></div>
    </li>
</ul>

<ul class="children-groups">
</ul>