<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}" class="working-hour element">
    <div class="container-top">
        <dl>
            <dt>{{#i18n}}Groups{{/i18n}}</dt>
            <dd class="groups-list"></dd>

            <dt>{{#i18n}}Templates{{/i18n}}</dt>
            <dd class="templates-list"></dd>

            <dt>{{#i18n}}Start date{{/i18n}}</dt>
            <dd>{{start_date}}</dd>

            <dt>{{#i18n}}End date{{/i18n}}</dt>
            <dd>{{end_date}}</dd>

            <dt>{{#i18n}}PD{{/i18n}}</dt>
            <dd class="primary_department-value"></dd>
        </dl>

        <div class="percentage">
            <canvas></canvas>
            <span class="value"></span>
        </div>
    </div>

    <div class="container-bottom">
        <ul class="operations">
            <li class="operation">
                <span>{{#i18n}}Options{{/i18n}}</span>
            </li>
        </ul>
    </div>
</li>

{{/elements}}

</ul>