<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}">
    <h1 class="title">
        <span class="group-name"></span>
    </h1>

    <ul class="time-groups">
    </ul>

    <ul class="skill-groups">
        <li class="skill-group">
            <table class="day-blocks header">
                <tbody>
                    <tr>
                        <td class="day-block">
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>
                    </tr>

                    <tr class="bottom-shadow">
                    </tr>
                </tbody>
            </table>

            <table class="day-blocks content">
                <tbody>
                    <tr>
                        <td class="day-block">
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>

                        <td class="day-block">
                            <div class="inner">
                            </div>
                        </td>
                    </tr>

                    <tr class="bottom-shadow">
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>

    <ul class="children-groups">
    </ul>
</li>

{{/elements}}

</ul>