<tr>
    <td class="header">
        <div class="inner">
            <strong class="skill_name-value"></strong><span><span class="matched_employees-value">0</span> of <span class="num_employees-value">{{num_employees}}</span></span>
        </div>
    </td>

    <td class="content">
        <div class="inner">
            <ul class="employees">
            </ul>

            <div class="empty">
                <div class="indicator"></div><span><span class="empty_slots-value">{{num_employees}}</span> empty slots</span>
            </div>
        </div>
    </td>

    <td class="footer">
        <div class="inner">
            <span><span class="matched_hours-value">0h</span> of <span class="total_hours-value">{{total_hours-value}}</span></span>
        </div>
    </td>
</tr>