<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}">
    <div class="time-range">
        <span class="time top start-time-value">{{start_time}}</span>
        <span class="time bottom end-time-value">{{end_time}}</span>
    </div>

    <ul class="resource-needs-rows">
    </ul>
</li>

{{/elements}}

</ul>