<table class="day-blocks header">
    <tbody>
        <tr>
            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>
        </tr>

        <tr class="bottom-shadow">
        </tr>
    </tbody>
</table>

<table class="day-blocks content">
    <tbody>
        <tr>
            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>
        </tr>
    </tbody>
</table>

<table class="day-blocks footer">
    <tbody>
        <tr>
            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>

            <td class="day-block">
            </td>
        </tr>
    </tbody>
</table>