<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}" class="working-hour element">
    <div class="inner">
        <div class="info">
            <span>0</span>/<span>{{num_employees}}</span>
        </div>
    </div>
</li>

{{/elements}}

</ul>