<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}">
    <div class="time-range">
        <span class="time top start-time-value">{{start_time}}</span>
        <span class="time bottom end-time-value">{{end_time}}</span>
    </div>

    <table class="day-blocks header">
        <tbody>
            <tr>
                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>
            </tr>

            <tr class="bottom-shadow">
            </tr>
        </tbody>
    </table>

    <table class="day-blocks content">
        <tbody>
            <tr>
                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>
            </tr>
        </tbody>
    </table>

    <table class="day-blocks footer">
        <tbody>
            <tr>
                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>

                <td class="day-block">
                </td>
            </tr>
        </tbody>
    </table>
</li>

{{/elements}}

</ul>