<div class="separator"></div>

<table class="day-blocks header">
    <tbody>
        <tr>
            <td class="day-block side-column">
                <div class="inner">
                    <span class="skill-name"></span>
                </div>
            </td>

            <td class="day-block first-column">
                <div class="inner">
                    <ul class="resource-needs">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="resource-needs">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="resource-needs">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="resource-needs">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="resource-needs">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="resource-needs">
                    </ul>
                </div>
            </td>

            <td class="day-block">
                <div class="inner">
                    <ul class="resource-needs">
                    </ul>
                </div>
            </td>
        </tr>

        <tr class="bottom-shadow">
        </tr>
    </tbody>
</table>

<div class="employee-rows">
</div>