<div class="separator"></div>

<div class="table-container header">
    <div class="side-block">
        <div class="inner">
            <span class="skill-name"></span>
        </div>

        <div class="bottom-shadow"></div>
    </div>

    <table class="day-blocks header">
        <tbody>
            <tr>
                <td class="day-block container">
                    <div class="inner">
                        <ul class="resource-needs">
                        </ul>
                    </div>
                </td>

                <td class="day-block container">
                    <div class="inner">
                        <ul class="resource-needs">
                        </ul>
                    </div>
                </td>

                <td class="day-block container">
                    <div class="inner">
                        <ul class="resource-needs">
                        </ul>
                    </div>
                </td>

                <td class="day-block container">
                    <div class="inner">
                        <ul class="resource-needs">
                        </ul>
                    </div>
                </td>

                <td class="day-block container">
                    <div class="inner">
                        <ul class="resource-needs">
                        </ul>
                    </div>
                </td>

                <td class="day-block container">
                    <div class="inner">
                        <ul class="resource-needs">
                        </ul>
                    </div>
                </td>

                <td class="day-block container">
                    <div class="inner">
                        <ul class="resource-needs">
                        </ul>
                    </div>
                </td>
            </tr>

            <tr class="bottom-shadow">
            </tr>
        </tbody>
    </table>
</div>

<div class="employee-rows">
</div>