<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}" class="template">
    <span>{{name}}</span>
    <ul class="dropdown" style="display: none;">
        <li>Edit</li>
        <li>Delete</li>
    </ul>
</li>

{{/elements}}

</ul>