.page > div.content {
  overflow: auto;
  position: absolute;
  margin-top: 95px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f3f2ec; }
  .page > div.content.side {
    margin-top: 0;
    left: -260px;
    right: auto;
    width: 258px;
    background: #007550;
    border-right: 2px solid #007550;
    overflow: visible; }
    .page > div.content.side.selected {
      border-right: 2px solid #469a7f; }
    .page > div.content.side > .button {
      display: block;
      margin: 27px 30px 0 30px;
      position: relative;
      left: 2px;
      padding: 9px 0 9px 0;
      border: 2px solid transparent; }
      .page > div.content.side > .button > span {
        display: block;
        width: 198px; }
      .page > div.content.side > .button.selected {
        margin: 29px 0 0 30px;
        background: white;
        color: #007550;
        border: 2px solid #469a7f;
        border-right: 0; }
