.page > div.content {
  overflow: auto;
  position: absolute;
  margin-top: 95px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f3f2ec; }
  .page > div.content.side {
    margin-top: 0;
    left: -260px;
    right: auto;
    width: 260px;
    background: #007550; }
    .page > div.content.side > .button {
      display: block;
      width: 180px;
      margin: 29px auto 0 auto; }
