.page.scrolled > footer div.shadow {
  display: block; }

.page > footer {
  top: auto;
  left: 0;
  bottom: 0; }
  .page > footer div.shadow {
    position: absolute;
    bottom: auto;
    top: -2px; }
