.page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 83px 0 0 0;
  min-height: 600px; }
  .page.side-enabled {
    margin-left: 260px; }
  .page.initial-show {
    min-height: initial;
    overflow: hidden;
    -webkit-transition: bottom 2s, opacity 2s;
    -moz-transition: bottom 2s, opacity 2s;
    -ms-transition: bottom 2s, opacity 2s;
    -o-transition: bottom 2s, opacity 2s;
    transition: bottom 2s, opacity 2s; }
  .page.enter {
    -webkit-animation: page-enter 200ms ease-out 0s;
    -moz-animation: page-enter 200ms ease-out 0s;
    -ms-animation: page-enter 200ms ease-out 0s;
    -o-animation: page-enter 200ms ease-out 0s;
    animation: page-enter 200ms ease-out 0s; }
  .page.exit {
    -webkit-animation: page-exit 200ms ease-out 0s;
    -moz-animation: page-exit 200ms ease-out 0s;
    -ms-animation: page-exit 200ms ease-out 0s;
    -o-animation: page-exit 200ms ease-out 0s;
    animation: page-exit 200ms ease-out 0s; }
