.page
  > div.content
    overflow: auto

    position: absolute

    margin-top: 95px

    left: 0
    right: 0
    top: 0
    bottom: 0

    background: #edf0f2

    &.side
      margin-top: 0

      left: -260px
      right: auto

      width: 258px

      background: #007550

      border-right: 2px solid #007550

      overflow: visible

      &.selected
        border-right: 2px solid #469a7f

      > .button
        display: block

        margin: 27px 30px 0 30px

        position: relative

        left: 2px

        padding: 9px 0 9px 0

        border: 2px solid #007550

        > span
          display: block

          width: 198px

        &.selected
          margin: 27px 0 0 30px

          background: white
          color: #007550

          border: 2px solid #469a7f
          border-right: 0

    &.post-animation
      &.prev-page
        display: none

    &.enter
      -webkit-animation: sub-page-enter 200ms ease-out 0s
      -moz-animation: sub-page-enter 200ms ease-out 0s
      -ms-animation: sub-page-enter 200ms ease-out 0s
      -o-animation: sub-page-enter 200ms ease-out 0s
      animation: sub-page-enter 200ms ease-out 0s

    &.exit
      -webkit-animation: sub-page-exit 200ms ease-out 0s
      -moz-animation: sub-page-exit 200ms ease-out 0s
      -ms-animation: sub-page-exit 200ms ease-out 0s
      -o-animation: sub-page-exit 200ms ease-out 0s
      animation: sub-page-exit 200ms ease-out 0s