.side-bar
  ul.menu
    padding: 0 33px 0 253px

    overflow: auto

    > li
      display: block

      padding: 27px 20px 23px 20px

      cursor: pointer

      float: left

      height: 21px

      &.right
        float: right

      &.selected
        color: #fd5308

      font-size: 15px

      color: #999999

      > a
        color: inherit

        text-decoration: none