.side-bar
  > h1.title
    position: relative

    margin: 31px auto 0 auto

    width: 100px

    cursor: pointer

    .notifications-indicator-container
      position: absolute

      top: 0px

      left: 50%

      > div
        position: absolute

        left: 37px

        padding: 3px 5px 0 5px

        height: 15px

        border-radius: 1px

        background: white
        background: -webkit-linear-gradient(top, #ffffff, #dcdcdc)
        background: -moz-linear-gradient(top, #ffffff, #dcdcdc)
        background: -ms-linear-gradient(top, #ffffff, #dcdcdc)
        background: -o-linear-gradient(top, #ffffff, #dcdcdc)
        background: linear-gradient(top, #ffffff, #dcdcdc)

        box-shadow: 0 1px 0 rgba(7, 70, 50, 0.3)
        text-shadow: 0 1px 0 white

        font: normal 11px KontrapunktBobBold, 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif

        color: #007550

        text-align: center