body.loading
  .side-bar
    > h1.title
      > img
        display: block
        
.side-bar
  > h1.title
    position: absolute

    top: 0
    left: 0

    margin: 15px 0 0 30px

    cursor: pointer

    > img
      position: absolute

      left: 200px
      top: 7px
      z-index: 9000

      width: 24px
      height: 24px

      display: none

    .notifications-indicator-container
      position: absolute

      top: 0px

      left: 50%

      > div.arrow
        position: absolute

        left: 74px
        top: 16px

        width: 0
        height: 0

        border-color: transparent
        border-style: solid
        border-right-color: #fd5308
        border-width: 5px 5px 5px 0

      > div.notifications-indicator
        position: absolute

        left: 79px
        top: 5px

        padding: 5px 10px 1px 10px

        height: 26px

        border-radius: 1px

        background: #fd5308

        font: normal 20px KontrapunktBobBold, 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif

        color: white

        text-align: center